body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
.AlignRight {
    text-align: right;
}
.AlignCenter {
    text-align: center;
}
.TextArea {
    max-width: 100%;
    width: 600px;
}

.NumBox {
    width: 50px;
}

.DateBox {
    width: 100px;
}

.MedBox {
    width: 300px;
}
.LongBox {
    width: 400px;
}



.CurrencyBox {
    text-align: right;
}

.MenuStyle
        {
            background-color:white;
            color:White;      
        }

.DDL150 {
    width: 150px;
}

table, th, td {
    border: 1px solid black;
    padding: 1px 3px;
}
.Grid td
{
    background-color: lightgray;
    color: black;
    font-size: 10pt;
    line-height:200%
}
.Grid th
{
    background-color: gray;
    color: White;
    font-size: 10pt;
    line-height:200%
}
.ChildGrid td
{
    background-color: #eee;
    color: black;
    font-size: 10pt;
    line-height:200%
}
.ChildGrid th
{
    background-color: #6C6C6C;
    color: White;
    font-size: 10pt;
    line-height:200%
}

.gridview tr td {
    padding: 1px 3px ;
}

.gridview tr th {
    padding: 1px 3px ;
}

.lside {
    float:left;
}

.rside {
    float:right;
}
.clear {
    clear: both;
}

.divTable{
    display: block;
    width: 100%;
}
.divTableHeading, .divTableBody, .divTableFoot, .divTableRow {
    clear: both;
}

.divTableHead, .divTableFoot {
    background-color: #eeeeee;
    font-weight: bold;
}

.divTableCell, .divTableHead {
    border: 1px solid #999999;
    float: left;
    min-width: 28%;
    width: auto;
    padding: 1px 5px;
    min-height: 17px;
}
.divTable:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
